
localhost, {$CADDY_DOMAIN} {
	log ./logs/access.log
	root .
	internal /logs
	internal /binlogs
	internal /templates
	internal /venv
	proxy / localhost:{$APP_PORT} {
		transparent
		except /videos
	}
	browse /videos
}
